[Unit]
Description=S3 Uploader Server
After=network.target

[Service]
Type=simple
ExecStart={{ s3uploader_dir }}/s3up-server --config {{ s3uploader_dir }}/server.yaml
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
