server:
  host: "0.0.0.0"
  port: {{ s3uploader_port }}

s3:
  endpoint: "{{ s3_endpoint }}"
  region: "{{ s3_region }}"
  bucket: "{{ s3uploader_bucket }}"
  path_prefix: "{{ s3uploader_path_prefix }}"
  access_key_id: "{{ s3_access_key_id }}"
  secret_access_key: "{{ s3_secret_access_key }}"

database:
  path: "{{ s3uploader_dir }}/server.db"

clients:
{% for client in client_entries %}
  - id: "{{ client.id }}"
    api_key: "{{ client.api_key }}"
{% endfor %}
